.custom-input {
  border-radius: 10px;
  border: none;
  box-shadow: inset 0px 0px 2px 0px hsla(0, 0%, 0%, 0.384);
  padding: 0.5rem 2rem;
  outline: none;
}
.custom-input__flex {
  display: flex;
  flex-direction: column;
  .custom-input {
    // align-self: flex-start;
  }
  label {
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
}
