@import '../../../scss/global';

.ui-header {
  color: $primary-color;
  margin-bottom: rem(16);
}
.h1 {
  font-size: rem(60);
}
.h2 {
  font-size: rem(50);
}
.h3 {
  font-size: rem(50);
}
.h4 {
  font-size: rem(50);
}
